name: Update Homebrew Formula

on:
  release:
    types: [published]

jobs:
  update-formula:
    runs-on: ubuntu-latest
    if: ${{ !github.event.release.prerelease }}
    
    steps:
    - name: Update Homebrew formula
      uses: dawidd6/action-homebrew-bump-formula@v3
      with:
        token: ${{ secrets.HOMEBREW_GITHUB_TOKEN }}
        formula: localsearch
        tap: nnanto/homebrew-tools
        tag: ${{ github.event.release.tag_name }}
        revision: ${{ github.sha }}